.header {
  display: flex;

  .left {
    flex: 1;
    color: red;

    h3 {
      margin-top: 0;
      margin-bottom: 30px;
    }
  }

  .right {
    flex: 1;
    text-align: right;
  }
}

.content {
}

.footer {
  display: flex;
  flex-direction: row-reverse;
}
