.container {
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5;

  min-height: 100%;
}

.content-wrapper {
  flex: auto;
  padding: 12px 0;
}

.content {
  display: flex;
  margin: 0 24px;

  // 左中右
  .left {
    width: 350px;
    margin-right: 24px;
  }

  .center {
    flex: auto;
    background-color: #fff;
    padding: 12px 18px;
  }

  .right {
    width: 400px;
    margin-left: 24px;
    background-color: #fff;
    padding: 12px 18px;
    overflow: hidden;
  }
}
