.componentLib-wrapper {
  overflow: auto;
  height: 670px;
}

.componentLib-wrapper::-webkit-scrollbar {
  display: none; /* 隐藏滚动条（Chrome、Safari、Opera） */
}

.wrapper {
  margin-bottom: 12px;
  cursor: pointer;
  background-color: #f0f2f5;
  border: 1px solid #fff;
  padding: 12px;
  border-radius: 3px;

  &:hover {
    border-color: #d9d9d9;
  }
}

.component {
  pointer-events: none;
}
